.well.sidebar {
    margin-top: calc(60px + 2.5vh);
    margin-bottom: 2.5vh;
    height: calc(95vh - 60px);
    text-align: center;
}

.well.map-well {
    margin-top: calc(60px + 2.5vh);
    margin-bottom: 2.5vh;
    min-height: calc(80vh - 60px);
}

