.well.sidebar {
    margin-top: calc(60px + 2.5vh);
    margin-bottom: 2.5vh;
    height: calc(95vh - 60px);
}

.well.map-well {
    margin-top: calc(60px + 2.5vh);
    margin-bottom: 2.5vh;
    height: calc(65vh - 60px);
}

.well.bottombar {
    height: calc(34.5vh - 60px);
}

.well.controlls-well {
   height: calc(45vh - 60px);
}

#wordcloudcontainer {
    height: calc(25vh -60);
    text-align: center;
}

.btn.btn-done {
    position: absolute;
    bottom: 7.5%;
    right: 12.5%;
    float: right;
}

path {
	fill: none; stroke: black
}

.land {
	fill: #9999ff;
}

.state-boundary {
	fill: none;
	stroke: #000000;
}

#map-station {
    margin-left: auto;
    margin-right: auto;
}

#map-container {
	margin-left: auto;
	margin-right: auto;
}

/*Slider CSS*/
#slider .sample1, #slider .sample2 {
    padding: 20px 0;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

#slider .sample2 {
    height: 150px;
}
  
#slider .sample2 .slider {
    margin: 0 40px;
}

#slider h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

#slider .slider {
    margin: 15px;
}
